<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}"Test"{% endblock %}</title>
  <meta name="referrer" content="unsafe-url">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>

<script src="{% url 'jsi18n' %}"></script>

</body>
</html>
